%body
  #wrapper
    / Main
    #main
      / Introduction
      %section#intro.main
        .spotlight
          .content
            %header.major
              %h2.dash= "Current client:"
              %br                
              =form_for @client do |f|
                /= render(partial: 'form_body')
                =f.text_field :name, placeholder: "Enter client name please!"
                =f.email_field :email, placeholder: "Enter client email please!"
                =f.text_area :description, placeholder: "Enter client description please!"
                =button_tag 'Update' , class: 'search-button' , type: :submit
                /= flash[:notice]
                
          %span.image= image_tag "#{@client.avatar.url}"

    / Footer
    #wrapper
      %footer#footer
        %section
          %h2 Project Description
          %p= @client.description
        %section
          %h2 Client Description
          %dl.alt
            %dt Name
            %dd= @client.name
            %dt Budget
            %dd 25.000€
            %dt Email
            %dd
              %a{:href => "#{@client.email}"} #{@client.email}
        %p.copyright © Made with love in Bochum and Hannover.
