%body
  #wrapper
    / Main
    #main
      %section#intro.main
        .spotlight
          .content
            %header.major
              %h2.dash Client Dashboard
              %p Welcome to the client dashboard! Here you are able to manage (view, add, update, delete) your current clients. Maybe the work of a client is done and paid and you want to delete the entry, or you want to add a new good-paying client.
              %br
              %span= link_to "Add a new client", new_client_path, class: "button"

      - @clients.each do |client|
        %section#intro.main
          .spotlight
            .content
              %header.major
                %h2= "#{client.name}"
                = link_to "", edit_client_path(client), class: "icon fa-gear alt"
                = link_to "", client, method: :delete, data: {confirm: "Really finished the client work?"}, class: "icon fa-trash alt"
                %p= "E-Mail: #{client.email}"
                %br
                %p= client.description
                %span= link_to "To the chat", client_path(client), class: "button"

            %span.image= image_tag "#{client.avatar.url}"
  / Footer
  #wrapper
    %footer#footer
      %section
        %h2 About Us
        %p Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.
      %section
        %h2 Meet Us
        %dl.alt
          %dt Address
          %dd Kortum Straße • 44787, Bochum • GER
          %dt Phone
          %dd (0511) 6077 8055 1337
          %dt Email
          %dd
            %a{:href => "#"} support@cuak.com
        %ul.icons
          %li
            %a.icon.fa-twitter.alt{:href => "#"}
              %span.label Twitter
          %li
            %a.icon.fa-facebook.alt{:href => "#"}
              %span.label Facebook
          %li
            %a.icon.fa-instagram.alt{:href => "#"}
              %span.label Instagram
          %li
            %a.icon.fa-github.alt{:href => "#"}
              %span.label GitHub
          %li
            %a.icon.fa-dribbble.alt{:href => "#"}
              %span.label Dribbble
      %p.copyright © Made with love in Bochum and Hannover.

