%body
  #wrapper
    / Main
    #main
      / Introduction
      %section#intro.main
        .spotlight
          .content
            %header.major
              %p= "Your client: #{@client.name}"
              %p= "Email: #{@client.email}"
              %br
              %p= link_to "Client bearbeiten", edit_client_path(@client)
          %span.image= image_tag "pic01.jpg"
    / Footer
    #wrapper
      %footer#footer
        %section
          %h2 Project Description
          %p Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.
        %section
          %h2 Client Description
          %dl.alt
            %dt Name
            %dd Tesla Motors • Elon Musk • ENG
            %dt Budget
            %dd 25.000€
            %dt Email
            %dd
              %a{:href => "#"} information@untitled.tld
        %p.copyright © Made with love in Bochum and Hannover.
