%body
  #wrapper
    / Main
    #main
      / Introduction
      %section#intro.main
        .spotlight
          .content
            %header.major
              %a.icon.fa-gear.alt{:href => "#{edit_client_path(@client)}"}
              %span= link_to "", @client, method: :delete, data: {confirm: "Really finished the client work?"}, class: "icon fa-trash alt"
          %span.image= image_tag "#{@client.avatar.url}"

    / Footer
    #wrapper
      %footer#footer
        %section
          %h2 Project Description
          %p= @client.description
        %section
          %h2 Client Description
          %dl.alt
            %dt Name
            %dd= @client.name
            %dt Budget
            %dd 25.000€
            %dt Email
            %dd
              %a{:href => "#{@client.email}"} #{@client.email}
        %p.copyright © Made with love in Bochum and Hannover.
