%body
  #wrapper
    %header#header.alt
      %span.logo= image_tag "logo.svg"
      / <h1>ClientChat</h1>
      %p
        /Communicate with clients.
        /%br
      / built by Ferdi Armagan for <a href="armaganvideos.com">www.armaganvideos.com</a></p>
    / Nav
    %nav#nav
      %ul
        %li= link_to "Home", pages_index_path
        - if current_user
          %li= link_to "Clients", clients_path
          %li= link_to "Edit Profile", edit_user_path(current_user.id)
          %li= link_to "Logout", :logout, method: :post
        - else
          %li= link_to "Register", new_user_path
          %li= link_to "Login", :login
